{% extends "base.html" %}
{% block title %}Login / Sign Up{% endblock %}

{% block content %}
<section class="hero">
    <h1>Account Access</h1>
</section>

<div class="container">
    <div class="form-container">
        <form action="{{ url_for('login_page') }}" method="post">
            <h2>Login</h2>
            <input type="text" name="username_login" placeholder="Username" required>
            <input type="password" name="password_login" placeholder="Password" required>
            <button type="submit" name="login_submit">Login</button>
        </form>

        <form action="{{ url_for('login_page') }}" method="post">
            <h2>Create an Account</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" name="signup_submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}